# Hourly energy demand generation and weather

This is from the similarly named dataset on [Kaggle](https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather).

There are two data sets, ```energy``` and ```weather```.

## Data Dictionary

For the ```energy``` dataset:

- ```time```: Datetime index localized to CET
- ```generation biomass```: biomass generation in MW
- ```generation fossil coal-derived gass```: coal/lignite generation in MW
- ```generattion fossil coal-derived gass```: coal/gas generation in MW
- ```generation fossil gass```: gas generation in MW
- ```generation fossil hard coal```: coal generation in MW
- ```generation fossil oil```: oil generation in MW
- ```generation fossil oil share```: shale oil generation in MW
- ```generation fossil peat```: peat generation in MW
- ```generation geothermal```: geothermal generatio in MW
- ```generation hydro pumped storage aggregated```: hydro1 generation in MW
- ```generation hydro pumped storage consumption```: hydro 2 generation in MW
- ```generation hydro run-of-river and poundage```: hydro 3 generation in MW
- ```generation hydro water reservoir```: hydro 4 generatio in MW
- ```generation marine```: sea generation in MW
- ```generation nuclear```: nuclear generation in MW
- ```generation other```: other generation in MW
- ```generation other renewable```: other renewable generation in MW
- ```generation solar```: solar generatio in MW
- ```generation waste```: waste generation in MW
- ```generation wind offshore```: wind offshore generation in MW
- ```generation wind onshore```: wind onshore generation in MW
- ```forecast solar day ahead```: forecasted solar generation
- ```forecast wind offshore eday ahead```: forecasted offshore wind generation
- ```forecast wind onshore day ahead```: forecasted onshore wind generation
- ```total load forecast```: forecasted electrical demand
- ```total load actual```: actual electrical demand
- ```price day ahead```: forecasted price in EUR/MWh
- ```price actual```: price in EUR/MWh


And for the ```weather``` dataset:



- ```dt_iso```: datetime index localized to CET
- ```city_name```: name of city
- ```temp```: in Kelvin

- ```temp_min```: minimun in K
- ```temp_max```: maximum in K
- ```pressure```: pressure in hPa
- ```humidity```: humidity in percent
- ```wind_speed```: wind speed in m/s
- ```wind_deg```: wind direction
- ```rain_1h```: rain in last hour in mm
- ```rain_3h```: rain in last 3 hours in mm
- ```snow_3h```: snow in last 3 hours in mm
- ```clouds_all```: cloud cover in percentage
- ```weather_id```: code used to describe weather

- ```weather_main```: short description of current weather
- ```weather_description```: long description of current weather
- ```weather_icon```: weather icon code for website

In [1]:
import pandas as pd

In [3]:
energy = pd.read_csv('energy_dataset.csv')
weather = pd.read_csv('weather_features.csv')

In [4]:
energy.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [5]:
weather.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n